
Digitalis Technika I/MOODLE_ANYAGOK/1.modul/1. modul ppt video.mp4
Digitalis Technika I/MOODLE_ANYAGOK/1.modul/1. modul video.mp4
Digitalis Technika I/MOODLE_ANYAGOK/1.modul/1modul_Logikai hálózatelmélet.pdf
Digitalis Technika I/MOODLE_ANYAGOK/1.modul/1modul_logikai-hálózatfeladat.pdf
Digitalis Technika I/MOODLE_ANYAGOK/10.modul/10 modul video.mp4
Digitalis Technika I/MOODLE_ANYAGOK/10.modul/10.modul ppt video.mp4
Digitalis Technika I/MOODLE_ANYAGOK/10.modul/10modulkimenetekelm.pdf
Digitalis Technika I/MOODLE_ANYAGOK/10.modul/10modulkimenetekfeladat.pdf
Digitalis Technika I/MOODLE_ANYAGOK/10.modul/Egyéb segédanyagok-20221211.zip
Digitalis Technika I/MOODLE_ANYAGOK/11.modul/11. modul ppt video.mp4
Digitalis Technika I/MOODLE_ANYAGOK/11.modul/11. modul video.mp4
Digitalis Technika I/MOODLE_ANYAGOK/11.modul/11modulMuxdemuxelm.pdf
Digitalis Technika I/MOODLE_ANYAGOK/11.modul/11modulMuxdemuxfeladat.pdf
Digitalis Technika I/MOODLE_ANYAGOK/11.modul/Egyéb segédanyagok-20221211.zip
Digitalis Technika I/MOODLE_ANYAGOK/12.modul/12. modul ppt video.mp4
Digitalis Technika I/MOODLE_ANYAGOK/12.modul/12. modul.pdf
Digitalis Technika I/MOODLE_ANYAGOK/12.modul/Egyéb segédanyagok-20221211.zip
Digitalis Technika I/MOODLE_ANYAGOK/2.modul/2 modul ppt video.mp4
Digitalis Technika I/MOODLE_ANYAGOK/2.modul/2. modul video.mp4
Digitalis Technika I/MOODLE_ANYAGOK/2.modul/2modul_szameskodrendszerekelm.pdf
Digitalis Technika I/MOODLE_ANYAGOK/2.modul/2modul_szameskodrendszfeladat.pdf
Digitalis Technika I/MOODLE_ANYAGOK/3.modul/3. modul ppt video.mp4
Digitalis Technika I/MOODLE_ANYAGOK/3.modul/3. modul video.mp4
Digitalis Technika I/MOODLE_ANYAGOK/3.modul/3modulboolealgelm.pdf
Digitalis Technika I/MOODLE_ANYAGOK/3.modul/3modulboolealgfeladat.pdf
Digitalis Technika I/MOODLE_ANYAGOK/3.modul/Egyéb segédanyagok-20221211.zip
Digitalis Technika I/MOODLE_ANYAGOK/4.modul/4. modul 2 video.mp4
Digitalis Technika I/MOODLE_ANYAGOK/4.modul/4. modul ppt video.mp4
Digitalis Technika I/MOODLE_ANYAGOK/4.modul/4. modul video.mp4
Digitalis Technika I/MOODLE_ANYAGOK/4.modul/4moduldiszjkonjunkelm.pdf
Digitalis Technika I/MOODLE_ANYAGOK/4.modul/4moduldiszkonjunkfeladat.pdf
Digitalis Technika I/MOODLE_ANYAGOK/4.modul/Egyéb segédanyagok-20221211.zip
Digitalis Technika I/MOODLE_ANYAGOK/5.modul/5. modul ppt video.mp4
Digitalis Technika I/MOODLE_ANYAGOK/5.modul/5. modul video.mp4
Digitalis Technika I/MOODLE_ANYAGOK/5.modul/5modulunivezrálislogikaifüggvényekelm.pdf
Digitalis Technika I/MOODLE_ANYAGOK/5.modul/5modulunivezrálislogikaifüggvényekfel.pdf
Digitalis Technika I/MOODLE_ANYAGOK/5.modul/Egyéb segédanyagok-20221211.zip
Digitalis Technika I/MOODLE_ANYAGOK/6.modul/6. modul ppt video.mp4
Digitalis Technika I/MOODLE_ANYAGOK/6.modul/6. modul video.mp4
Digitalis Technika I/MOODLE_ANYAGOK/6.modul/6modulkarnaugefeladat.pdf
Digitalis Technika I/MOODLE_ANYAGOK/6.modul/6modulkarnaugelm.pdf
Digitalis Technika I/MOODLE_ANYAGOK/6.modul/Egyéb segédanyagok-20221211.zip
Digitalis Technika I/MOODLE_ANYAGOK/6.modul/szamonkero/1feladat.PNG
Digitalis Technika I/MOODLE_ANYAGOK/7.modul/7. modul ppt video.mp4
Digitalis Technika I/MOODLE_ANYAGOK/7.modul/7. modul video (1).mp4
Digitalis Technika I/MOODLE_ANYAGOK/7.modul/7modulquineelm.pdf
Digitalis Technika I/MOODLE_ANYAGOK/7.modul/7modulquinefeladat.pdf
Digitalis Technika I/MOODLE_ANYAGOK/8.modul/8. modul ppt video.mp4
Digitalis Technika I/MOODLE_ANYAGOK/8.modul/8. modul video (1).mp4
Digitalis Technika I/MOODLE_ANYAGOK/8.modul/8modulhazardelm.pdf
Digitalis Technika I/MOODLE_ANYAGOK/8.modul/8modulhazardfeladat.pdf
Digitalis Technika I/MOODLE_ANYAGOK/8.modul/Egyéb segédanyagok-20221211.zip
Digitalis Technika I/MOODLE_ANYAGOK/9.modul/9. modul.mp4
Digitalis Technika I/MOODLE_ANYAGOK/9.modul/9modul Ideális és valódi építőelemek elmélet.pdf
Digitalis Technika I/MOODLE_ANYAGOK/1.modul/1. modul ppt video.mp4
Digitalis Technika I/MOODLE_ANYAGOK/1.modul/1. modul video.mp4
Digitalis Technika I/MOODLE_ANYAGOK/1.modul/1modul_Logikai hálózatelmélet.pdf
Digitalis Technika I/MOODLE_ANYAGOK/1.modul/1modul_logikai-hálózatfeladat.pdf
Digitalis Technika I/MOODLE_ANYAGOK/10.modul/10 modul video.mp4
Digitalis Technika I/MOODLE_ANYAGOK/10.modul/10.modul ppt video.mp4
Digitalis Technika I/MOODLE_ANYAGOK/10.modul/10modulkimenetekelm.pdf
Digitalis Technika I/MOODLE_ANYAGOK/10.modul/10modulkimenetekfeladat.pdf
Digitalis Technika I/MOODLE_ANYAGOK/10.modul/Egyéb segédanyagok-20221211.zip
Digitalis Technika I/MOODLE_ANYAGOK/11.modul/11. modul ppt video.mp4
Digitalis Technika I/MOODLE_ANYAGOK/11.modul/11. modul video.mp4
Digitalis Technika I/MOODLE_ANYAGOK/11.modul/11modulMuxdemuxelm.pdf
Digitalis Technika I/MOODLE_ANYAGOK/11.modul/11modulMuxdemuxfeladat.pdf
Digitalis Technika I/MOODLE_ANYAGOK/11.modul/Egyéb segédanyagok-20221211.zip
Digitalis Technika I/MOODLE_ANYAGOK/12.modul/12. modul ppt video.mp4
Digitalis Technika I/MOODLE_ANYAGOK/12.modul/12. modul.pdf
Digitalis Technika I/MOODLE_ANYAGOK/12.modul/Egyéb segédanyagok-20221211.zip
Digitalis Technika I/MOODLE_ANYAGOK/2.modul/2 modul ppt video.mp4
Digitalis Technika I/MOODLE_ANYAGOK/2.modul/2. modul video.mp4
Digitalis Technika I/MOODLE_ANYAGOK/2.modul/2modul_szameskodrendszerekelm.pdf
Digitalis Technika I/MOODLE_ANYAGOK/2.modul/2modul_szameskodrendszfeladat.pdf
Digitalis Technika I/MOODLE_ANYAGOK/3.modul/3. modul ppt video.mp4
Digitalis Technika I/MOODLE_ANYAGOK/3.modul/3. modul video.mp4
Digitalis Technika I/MOODLE_ANYAGOK/3.modul/3modulboolealgelm.pdf
Digitalis Technika I/MOODLE_ANYAGOK/3.modul/3modulboolealgfeladat.pdf
Digitalis Technika I/MOODLE_ANYAGOK/3.modul/Egyéb segédanyagok-20221211.zip
Digitalis Technika I/MOODLE_ANYAGOK/4.modul/4. modul 2 video.mp4
Digitalis Technika I/MOODLE_ANYAGOK/4.modul/4. modul ppt video.mp4
Digitalis Technika I/MOODLE_ANYAGOK/4.modul/4. modul video.mp4
Digitalis Technika I/MOODLE_ANYAGOK/4.modul/4moduldiszjkonjunkelm.pdf
Digitalis Technika I/MOODLE_ANYAGOK/4.modul/4moduldiszkonjunkfeladat.pdf
Digitalis Technika I/MOODLE_ANYAGOK/4.modul/Egyéb segédanyagok-20221211.zip
Digitalis Technika I/MOODLE_ANYAGOK/5.modul/5. modul ppt video.mp4
Digitalis Technika I/MOODLE_ANYAGOK/5.modul/5. modul video.mp4
Digitalis Technika I/MOODLE_ANYAGOK/5.modul/5modulunivezrálislogikaifüggvényekelm.pdf
Digitalis Technika I/MOODLE_ANYAGOK/5.modul/5modulunivezrálislogikaifüggvényekfel.pdf
Digitalis Technika I/MOODLE_ANYAGOK/5.modul/Egyéb segédanyagok-20221211.zip
Digitalis Technika I/MOODLE_ANYAGOK/6.modul/6. modul ppt video.mp4
Digitalis Technika I/MOODLE_ANYAGOK/6.modul/6. modul video.mp4
Digitalis Technika I/MOODLE_ANYAGOK/6.modul/6modulkarnaugefeladat.pdf
Digitalis Technika I/MOODLE_ANYAGOK/6.modul/6modulkarnaugelm.pdf
Digitalis Technika I/MOODLE_ANYAGOK/6.modul/Egyéb segédanyagok-20221211.zip
Digitalis Technika I/MOODLE_ANYAGOK/6.modul/szamonkero/1feladat.PNG
Digitalis Technika I/MOODLE_ANYAGOK/7.modul/7. modul ppt video.mp4
Digitalis Technika I/MOODLE_ANYAGOK/7.modul/7. modul video (1).mp4
Digitalis Technika I/MOODLE_ANYAGOK/7.modul/7modulquineelm.pdf
Digitalis Technika I/MOODLE_ANYAGOK/7.modul/7modulquinefeladat.pdf
Digitalis Technika I/MOODLE_ANYAGOK/8.modul/8. modul ppt video.mp4
Digitalis Technika I/MOODLE_ANYAGOK/8.modul/8. modul video (1).mp4
Digitalis Technika I/MOODLE_ANYAGOK/8.modul/8modulhazardelm.pdf
Digitalis Technika I/MOODLE_ANYAGOK/8.modul/8modulhazardfeladat.pdf
Digitalis Technika I/MOODLE_ANYAGOK/8.modul/Egyéb segédanyagok-20221211.zip
Digitalis Technika I/MOODLE_ANYAGOK/9.modul/9. modul.mp4
Digitalis Technika I/MOODLE_ANYAGOK/9.modul/9modul Ideális és valódi építőelemek elmélet.pdf
